<div class="container">
    <div class="button-group">

        <button mat-flat-button color="primary" routerLink="/cadastro" class="custom-button primary">
            <span class="texto"><fa-icon [icon]="faPaw"></fa-icon><br>CADASTRAR<br>PET</span>
        </button>

        <button mat-flat-button color="primary" routerLink="/pets" class="custom-button primary">
            <span class="texto"><fa-icon [icon]="faMagnifyingGlass"></fa-icon><br>PETS<br>CADASTRADOS</span>
        </button>

        <button mat-flat-button color="primary" routerLink="/agendamentos" class="custom-button primary">
            <span class="texto"><fa-icon [icon]="faMagnifyingGlass"></fa-icon><br>AGENDAMENTOS</span>
        </button>

        <button mat-flat-button color="primary" routerLink="/agendar" class="custom-button primary">
            <span class="texto"><fa-icon [icon]="faCalendar"></fa-icon><br>AGENDAR<br>SERVIÇO</span>
        </button>

    </div>
</div>